<html>
    <head>
        <title> Your Music </title>
    </head>
    <body>
        <div class = 'deleteForm'> 
            <form method = 'POST' action = "">
                {{ deleteForm.hidden_tag() }}
                <p> This is a list of your songs </p>

             {% for song in all_songs %}
    
                <li> {{song.song_name}}, {{song.song_link}}, {{song.song_genre}} </li>
                <br>
                <button type ="button"><span><a href="{{ url_for('delete', id = song.song_id) }}">Delete</a></span></button>
                <br>
    
                {% endfor %}
            </form>

            
        </div>
        
        
        <div class = 'form'>
            <form method = 'POST' action=" ">
                {{ form.hidden_tag() }}
                {{ form.song_name.label }} {{form.song_name}}
                <br>
                {{ form.song_Link.label }} {{form.song_Link}}
                <br>
                {{form.song_genre.label}} {{form.song_genre}}
                <br>
                <!-- I wont add a section to add artist ID because I want that to be automatically programmed in the route.-->
                {{ form.submit }}
                <br>
                {{ message }}
            </form>
        </div>
        {%block body %}

        {%endblock body%}
    </body>
</html>