<html>
    <head>
        <title> Your Music </title>
    </head>
    <body>
        <div class = 'form'>
            <form method = 'POST' action=" ">
                {{ form.hidden_tag() }}
                {{ form.song_name.label }} {{form.song_name}}
                <br>
                {{ form.song_Link.label }} {{form.song_Link}}
                <br>
                {{form.song_genre.label}} {{form.song_genre}}
                <br>
                <!-- I wont add a section to add artist ID because I want that to be automatically programmed in the route.-->
                {{ form.submit }}
                <br>
                {{ message }}
            </form>
        </div>
        {%block body %}

        {%endblock body%}
    </body>
</html>